#Footer {
  background-color: #0e0e0e; // Light grey background
  display: flex;
  justify-content: space-around; // Distribute space around the footer items

  & .price .current {
    color: #ff7701;
  }

  & .price .previous {
    color: #444;
  }

  & .title {
    color: #fff;
  }

}


h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

ul {
  list-style-type: none; // Remove bullets
  padding: 0;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #bbb;
}

a {
  color: #007bff; // Bootstrap primary blue
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Additional styling for responsive design
@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  div {
    margin-bottom: 20px;
  }
}